  <div class="jumbotron">
    <div class="container">
      <h1>Flickagram</h1>
      <p>Share pictures, follow your friends and never miss a trend! </p>
      <p>
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary btn-lg" %>
      </p>
    </div>
   </div>