<html>
<head>
	<title>Instagram</title>
</head>
<body>


	Welcome to Instagram!

	No posts yet

	<button> Upload </button>

	 <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>




</body>
</html>

