/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-tagsinput
 */

 @import 'bootstrap';

.jumbotron {
 	background: image-url('cameras.jpg');
 	padding-top: 63px;
 	padding-bottom: 10%;
 	margin-top: -7px;
 }

.jumbotron .container {
 	background: rgba(46, 43, 43, 0.90);
 	width: 80%;
 	padding-top: 1%;
 	margin-top: 1%;
 	border-radius: 25px;
}

.row {
	height: 40px;
}
 /* the 'a' in rgba stands for transparency, so in this case we are giving it 0.85 transparency*/ 

.jumbotron p {
	margin-bottom: 40px;
	font-size: 21px;
	font-weight: 200;
}

h1 {
	margin-top: 20px;
	margin-bottom: 18px;
}

h2 {
	margin-top: 5%;
	margin-bottom: 1%;
}

.jumbotron h1, .jumbotron .h1 {
	color: whitesmoke;
}

.jumbotron p {
	color: whitesmoke;
}

.post-form {
	margin-top: 5%;
	margin-bottom: 1%;
	margin-left: 1%;
}

.modal-body img {
	max-width: 100%;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: normal;
	color: whitesmoke;

}

.form-control {
	height: 28px;
}

.navbar-brand {
	margin-left: 5%;
}

.navbar-form.navbar-right:last-child {
	margin-right: 5%;
}

.btn-success {
	color: white;
	background-color: #5cb85c;
	border-color: #4cae4c;
	height: 28px;
	line-height: normal;
}

body {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

.navbar-buttons {
	float: right;
	display: flex;
	margin-right: 5%;
}

.navbar-fixed-top {
	top: 0;
	height: 14%;
}

.btn-danger {
	color: white;
	background-color: #d9534f;
	border-color: #d43f3a;
	float: right;
	margin-right: 5%;
	margin-top: 10px;
}